$main-color: white;

body {
  background-color: $main-color;
}

.board{
  &__row{
    display: flex;
  }
  &__col{
    $col-width: 50px;
    width: $col-width;
    height: $col-width;
    background-color: green;
    margin: 5px;
  }
}